  <!-- Pre Loader -->
  <div id="aa-preloader-area">
    <div class="pulse"></div>
  </div>
  <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"><i class="fa fa-angle-double-up"></i></a>
  <!-- END SCROLL TOP BUTTON -->

  <!-- Start header section -->
  <header id="aa-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-header-area">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="aa-header-left">
                  <div class="aa-telephone-no">
                    <span class="fa fa-phone"></span>
                    037.297.6855
                  </div>
                  <div class="aa-email hidden-xs">
                    <span class="fa fa-envelope-o"></span> cuong.tv194004@sis.hust.edu.vn
                  </div>
                </div>
              </div>
              <!-- <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="aa-header-right">
                  <a href="/signup" class="aa-register">Đăng ký</a>
                {% if session.get("user") %}
                    <a href="/logout" class="aa-login">Đăng xuất</a>
                  <div id="user_id" style="display:none;">{{session.get("user")["_id"]}}</div>
                {% else %}
                    <a href="/login" class="aa-login">Đăng nhập</a>
                {% endif %}
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- End header section -->